#train {
      position: relative;
      cursor: pointer;
    }
#train1 {
      position: relative;
      cursor: pointer;
      left:200 px;
    }
#train2 {
      position: relative;
      cursor: pointer;
      left:400 px;
    }